<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/seat_style.css')}}">
    <title>Movie Seat Booking</title>
  </head>
  <body>

     <div class="movie-list-container">
         <h1 class="movie-list-title"></h1>
     </div>
    <div class="movie-container">
      <label> Bilet</label>
      <select id="movie">
        <option value="12.50">Ulgowy (12.50 zł)</option>
        <option value="17.50">Normalny (17.50 zł)</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Dostępne</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Wybrane</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Zajęte</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
      </div>
    </div>


    <p class="text">
      Wybrano <span id="count">0</span> miejsca. Łącznie do zapłacenia: <span
        id="total"
        >0</span
      >
{#      <a href="#" id="buy_now_btn" class="btn btn-primary">Kup teraz!</a>#}
    </p>


     <div id="paypal-button"></div>


<script src="{{ url_for('static',filename='actions/seats_script.js')}}"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="{{ url_for('static',filename='actions/payment_script.js')}}"></script>

  </body>
</html>